@page
@model IndexModel
@{
    ViewData["Title"] = "Football Matches";
}
<h2>Fotbollsmatcher</h2>

@if (Model.Matches != null && Model.Matches.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Hemmalag</th>
                <th>Resultat</th>
                <th>Borta lag</th>
                <th>Datum</th>
                <th>Liga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model.Matches)
            {
                <tr>
                    <td> <img src="@match.HomeTeam.Crest" alt="@match.HomeTeam.Name logo" style="width: 30px; height: 30px;" /> @match.HomeTeam.Name</td>
                    <td>@match.Score.FullTime.Home - @match.Score.FullTime.Away</td>
                    <td> <img src="@match.AwayTeam.Crest" alt="@match.AwayTeam.Name logo" style="width: 30px; height: 30px;" /> @match.AwayTeam.Name</td>
                    <td>@match.UtcDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
                    <td> <img src="@match.Competition.Emblem" style="width: 30px; height: 30px;"/></td>
                    <td>@match.Competition.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga matcher tillgängliga just nu.</p>
}