@page
@model SimpleApp.Pages.TeamRatingModel
@{
    ViewData["Title"] = "TeamRating";
}

<h1 class="display-4 text-center my-4">@ViewData["Title"]</h1>

@if (Model.Teams != null && Model.Teams.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Lag</th>
                    <th>Logga</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.Teams.Select((team, index) => new { team, index }))
                {
                    <tr>
                        <td>@(team.index + 1)</td> 
                        <td>@team.team.Name</td>
                        <td><img src="@team.team.Crest" alt="@team.team.Name logo" style="width: 40px; height: 40px;" /></td>
                        <td>@team.team.TeamRatingScale</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center text-muted">Inga fotbollslags att visa.</p>
}
